.appTopBar {
    .appToolbar {
        .menuButton {
            margin-right: 12px;
        }

        .searchBox {
            display: flex;
            align-items: center;
            margin-left: auto;
        }

        .search {
            width: 220px;
        }
    }
}
