.breadcrumbs {
    display: flex;
    align-items: center;

    .breadcrumbItem {
        display: flex;
        align-items: center;

        .breadcrumbLabel {
            font-size: 12px;
            text-decoration: none;
        }

        .backButton {
            display: flex;
            align-items: center;
            text-decoration: none;
        }

        .separator {
            font-size: 12px;
            padding: 0 8px;
        }
    }
}
