.container {
    margin-top: 4rem;
    text-align: center;
}

.content {
    margin-top: 2rem;
}

.button {
    margin-top: 1rem;
}

.authLinks {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
}
