.container {
    .header {
        margin-bottom: 24px;
    }
}

.alert {
    margin-bottom: 8px;
    white-space: pre;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;

    .button {
        margin-top: 18px;
    }

    .footer {
        text-align: center;
    }
}

.loading {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}
