.container .header {
    margin-bottom: 2rem;
}

.alert {
    margin-bottom: 1rem;
    white-space: pre;
}

.button {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.footer {
    text-align: center;
    margin-top: 1rem;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.loading {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}
