.login-container .page-header {
    margin-bottom: 2rem;
}

.login-alert {
    margin-bottom: 1rem;
}

.login-button {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.login-footer {
    text-align: center;
    margin-top: 1rem;
}

.login-form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}
