.login-container {
  margin-top: 4rem;
}

.login-paper {
  padding: 2rem;
}

.login-alert {
  margin-top: 1rem;
}

.login-button {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.login-footer {
  text-align: center;
  margin-top: 1rem;
}
