.register-container .page-header {
    margin-bottom: 2rem;
}

.register-alert {
    margin-bottom: 1rem;
    white-space: pre;
}

.register-button {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.register-footer {
    text-align: center;
    margin-top: 1rem;
}

.register-form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}
