.register-container {
  margin-top: 4rem;
}

.register-paper {
  padding: 2rem;
}

.register-loading {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.register-button {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.register-footer {
  text-align: center;
  margin-top: 1rem;
}
