.root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body {
    display: flex;
    flex: 1;
    min-height: 0;
}

.main {
    flex: 1;
    min-width: 0;
    overflow: auto;
    scrollbar-gutter: stable;
}
