.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.entryTextField {
    margin-bottom: 16px;
}

.errorMessage {
    margin-bottom: 16px;
    text-align: right;
}

.actions {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}
