.container {
    margin-top: 16px;
}

.example {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-top: 8px;
    padding-left: 8px;
}

.quoteIcon {
    font-size: 16px;
    color: var(--mui-palette-text-secondary);
    margin-top: 2px;
}

.text {
    flex: 1;
    font-style: italic;
}
