.toolbar {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;

    .filter {
        flex-grow: 1;
    }

    .actionButton {
        flex-shrink: 0;
    }
}
