.empty-state {
    text-align: center;
    padding: 64px 24px;

    .icon-wrapper {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 24px;
    }

    .description {
        max-width: 400px;
        margin: 0 auto 32px;
    }
}
