.container {
    margin-bottom: 40px;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-bottom: 0;
}

.description {
    margin-top: 8px;
    max-width: 800px;
}
